<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieFlix - Homepage</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <h1>MOVIEFLIX</h1>
    <div id="gap">

    </div>
    <section>
        <div class="container">
            <button type="button" class="btn btn-default">Login</button>
            <button type="button" class="btn btn-default">SignUp</button>
        </div>
    </section>
</body>
</html>