<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movieflix-Movies</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="movies.css">
</head>
<body>
    <h1>MOVIEFLIX</h1>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="movies.html">Movies</a></li>
                <li><a href="top.html">Top Movies</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="user.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="editprofile.html"><span class="glyphicon glyphicon-user"></span>Edit Profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" id="sidenav" >
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default" disabled>Filter:</button>
                    <button type="button" class="btn btn-default">Genre</button>
                    <button type="button" class="btn btn-default">Type</button>
                    <button type="button" class="btn btn-default">Year</button>
                    <button type="button" class="btn btn-default" disabled>Sort:</button>
                    <button type="button" class="btn btn-default">IMDB Ratings</button>
                    <button type="button" class="btn btn-default">IMDB Votes</button>
                    <button type="button" class="btn btn-default">Year</button>
                </div>
            </div>
            <div class="col-sm-10" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2" >
                            <a href="details.html">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                        <div class="col-sm-2" >
                            <a href="">
                                <img src="pics/movie.jpg" class="img-rounded" alt="Cinque Terre" width="150px" height="120px">
                            </a>
                            <p>Minions</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div>
</body>
</html>